# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# PyTorch / TorchScript
*.pt
*.pth
*.ckpt

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Virtual environments
env/
venv/
.venv/
ENV/
env.bak/
venv.bak/

# Python packaging
*.egg
*.egg-info/
dist/
build/
.eggs/

# Logs and temporary files
*.log
*.tmp
*.bak
*.swp

# OS-specific files
.DS_Store
Thumbs.db

# IDE / editor settings
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Misc
*.zip
*.tar.gz
